html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*========================================================
                    Main layout styles
=========================================================*/

body {
  font-family: Arial, Helvetica, Sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgba(223, 222, 202, 1) 0%, rgba(158, 178, 140, 1) 50%, rgba(223, 222, 202, 1) 100%);
  overflow-x: hidden;
}

.nextView {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 1s ease-in-out;
  visibility: hidden;
  pointer-events: none;
}

.nextView.small {
  transform: scale(0.5, 0.5) translateX(-25%) perspective(2000px) rotate3d(0, 1, 0, 30deg);
  perspective-origin: left center;
  overflow: hidden;
  visibility: visible;
}

.view {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(../images/background.png) no-repeat;
  background-color: white;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: 1s ease-in-out;
}

.view.small {
  transform: scale(0.5, 0.5) translateX(-25%) perspective(2000px) rotate3d(0, 1, 0, 30deg);
  perspective-origin: left center;
  overflow: hidden;
  box-shadow: -100px 0px 0px -50px rgba(0, 0, 0, 0.3), -200px 0px 0px -100px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

.title h1 {
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  margin: 5px 0;

  color: #756300;
}

.title h2 {
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #e25c67;
  line-height: 1;
}

.title h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  color: #674ea7;
  margin-top: 10px;
}

.title p {
  color: #564861;
  margin: 30px 0 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  min-height: 100%;
}

/************ Sakura Falling ************/

@keyframes fall {
  0% {
    opacity: 0.9;
    top: 0;
  }

  100% {
    opacity: 0.2;
    top: 100%;
  }
}

@keyframes blow-soft-left {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -50%;
  }
}

@keyframes blow-medium-left {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -100%;
  }
}

@keyframes blow-soft-right {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 50%;
  }
}

@keyframes blow-medium-right {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 100%;
  }
}

@keyframes sway-0 {
  0% {
    transform: rotate(-5deg);
  }

  40% {
    transform: rotate(28deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

@keyframes sway-1 {
  0% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(43deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

@keyframes sway-2 {
  0% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(56deg);
  }

  100% {
    transform: rotate(22deg);
  }
}

@keyframes sway-3 {
  0% {
    transform: rotate(25deg);
  }

  40% {
    transform: rotate(74deg);
  }

  100% {
    transform: rotate(37deg);
  }
}

@keyframes sway-4 {
  0% {
    transform: rotate(40deg);
  }

  40% {
    transform: rotate(68deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

@keyframes sway-5 {
  0% {
    transform: rotate(50deg);
  }

  40% {
    transform: rotate(78deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

@keyframes sway-6 {
  0% {
    transform: rotate(65deg);
  }

  40% {
    transform: rotate(92deg);
  }

  100% {
    transform: rotate(58deg);
  }
}

@keyframes sway-7 {
  0% {
    transform: rotate(72deg);
  }

  40% {
    transform: rotate(118deg);
  }

  100% {
    transform: rotate(68deg);
  }
}

@keyframes sway-8 {
  0% {
    transform: rotate(94deg);
  }

  40% {
    transform: rotate(136deg);
  }

  100% {
    transform: rotate(82deg);
  }
}

.sakura {
  background: linear-gradient(90deg, #e6af5c, #d48632);
  pointer-events: none;
  position: absolute;
}


/************ Header ************/

.vertical_burger {
  position: fixed;
  top: 5%;
  right: 5%;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 3px;
  z-index: 5;
  align-items: center;
  cursor: pointer;
}

.vertical_burger>p {
  padding: 10px;
}

.vertical_slash {
  background-color: black;
  height: 33px;
  width: 1px;
  transition: transform 1s ease-out;
}

.vertical_slash:nth-child(2).close {
  transform: rotate(765deg) translate(6px, -1.5px);
}

.vertical_slash:nth-child(3).close {
  transform: rotate(765deg) translate(3px, -1.5px);
}

.vertical_slash:nth-child(4).close {
  transform: rotate(675deg) translate(-3px, -1.5px);
}

.vertical_slash:nth-child(5).close {
  transform: rotate(675deg) translate(-6px, -1.5px);
}

.navbar {
  display: none;
}

.navbar a {
  position: relative;
  left: 65%;
  top: 50%;
  display: block;
  text-decoration: none;
  opacity: 0%;
  margin: 30px;
  padding: 2px;
  font: 400 24px/32px "Roboto Slab", sans-serif;
  transform: translateY(100px);
  color: white;
  background-image: linear-gradient(90deg, rgba(223, 222, 202, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-size: 200% 0.25em;
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: transform 1s ease-in-out, background-position .3s .1s, opacity 1s ease-in-out;
  width: fit-content;
}

.navbar a:hover {
  transition: background-position .3s;
  background-position: 100% 100%;
}

.navbar.show {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.navbar a.animationShow {
  opacity: 1;
  transform: translateY(-100px);
}

iframe {
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

iframe.animationShow {
  opacity: 1;
  transform: translateX(0);
}


.backgroundExit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale3d(0, 0, 0);
  transition: all 1.2s ease-in-out;
}

.mapContainer {
  transform: scale3d(0, 0, 0);
  position: fixed;
  top: 5%;
  left: 10%;
  height: 80%;
  width: 80%;
  z-index: 100;
  transition: all 1s ease-in-out;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.directionButton {
  position: fixed;
  bottom: 5%;
  left: 50%;
  z-index: 50;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: linear-gradient(90deg, rgb(90, 164, 134) 0%, rgb(86, 175, 126) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.5s ease-in-out;
  outline: none;
  padding: 20px;
  transform: translateX(-50%) scale3d(0, 0, 0);
}

.directionButton.showMap:hover::before,
.directionButton.showMap:focus::before {
  opacity: 1;
}

.directionButton.showMap:hover,
.directionButton.showMap:focus {
  color: #313133;
  transform: translateY(-6px) translateX(-50%) scale3d(1, 1, 1);
}

.mapContainer.showMap,
.backgroundExit.showMap {
  transform: scale3d(1, 1, 1);
}

.directionButton.showMap {
  transform: translateX(-50%) scale3d(1, 1, 1);
}

.view.place,
.view.rsvp,
.view.store {
  background: url(/images/howToBackground2.png) no-repeat, white;
  background-size: cover;
  background-position: center;
  overflow-y: visible;
}

.view.place>h1,
.view.rsvp>h1,
.view.store>h1 {
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 80px;
  padding: 25px;
  margin: auto auto 1em;
  width: fit-content;
  color: #756300;
}

.view.place>p,
.view.rsvp>p {
  color: #564861;
  margin: 0px auto 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  max-width: 80%;
}

.view.place>img {
  position: fixed;
  object-fit: contain;
  object-position: center;
  z-index: -100;
}

.placeContainer,
.rsvpContainer,
.storeContainer {
  margin: auto;
  max-width: 60%;
  background: linear-gradient(90deg, rgba(223, 222, 202, 0.3) 0%, rgba(158, 178, 140, 0.3) 50%, rgba(223, 222, 202, 0.3) 100%);
  border-radius: 36px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.venue,
.ceremory,
.storeItems {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 50px 0;
}

.venue img,
.ceremory img,
.storeItems img {
  width: 400px;
  height: 200px;
  object-fit: contain;
  margin-top: 30px;
}

.venue h2,
.ceremory h2 {
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  margin: 25px 0;
  color: #756300;
}

.storeItems h2 {
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  padding: 15px;
  margin: auto;
  width: fit-content;
  color: #756300;
}

.venue p,
.ceremory p,
.storeItems p {
  color: #564861;
  margin: 20px 20px 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}

.storeItems .instTitle  {
  width: 100%;
}

.storeItems h3 {
  color: #564861;
  margin: 20px 20px 10px;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: left;
}

.storeItems .instruct {
  color: #564861;
  margin: 10px 20px 10px;
  letter-spacing: 1px;
  font-size: 12px;
}

.storeItems .instruct-second {
  color: #564861;
  margin: 10px 40px 10px;
  letter-spacing: 1px;
  font-size: 12px;
}

.arrivalTime {
  font-weight: 800;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  transform: rotate(140deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(-60deg);
}

.hexagon-in3,
.hexagon-in3-1,
.hexagon-in3-2 {
  width: 100%;
  height: 120%;
  background-repeat: no-repeat;
  visibility: visible;
  transform: rotate(-20deg) translateY(-30px);
}

.hexagon-in3 {
  background-position: -1em -10em;
  background-size: 50em;
  background-image: url(/images/church.jpeg);
}

.hexagon-in3-1 {
  background-position: 5em 0em;
  background-size: 39em;
  background-image: url(/images/casa_ribeirinho.jpeg);
}

.hexagon-in3-2 {
  background-size: 39em;
  background-image: url(/images/punta_cana.jpeg);
}

.hexagon1 {
  width: 800px;
  height: 400px;
}

.hexagon2 {
  width: 800px;
  height: 400px;
}

.hexagon3 {
  margin-top: 50px;
  width: 600px;
  height: 300px;
}

.wrapButton1,
.wrapButton2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.mapButton {
  min-width: 200px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgb(90, 164, 134) 0%, rgb(86, 175, 126) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.mapButton::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  box-shadow: 0 0 60px rgba(17, 152, 100, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.mapButton:hover,
.mapButton:focus {
  color: #313133;
  transform: translateY(-6px);
}

.mapButton:hover::before,
.mapButton:focus::before {
  opacity: 1;
}

.mapButton::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #3e796d;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.mapButton:hover::after,
.mapButton:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background: linear-gradient(180deg, rgba(223, 222, 202, 1) 0%, rgba(158, 178, 140, 1) 100%);
    ;
  }

  .view.small,
  .nextView.small {
    transform: scale(0.5, 0.5) translateX(-100%) perspective(2000px) rotate3d(0, 1, 0, 90deg);
    perspective-origin: left center;
  }

  .navbar a {
    top: 40%;
    left: 0;
    margin: 30px auto;
  }

  .view.place>h1,
  .view.rsvp>h1,
  .view.store>h1 {
    margin-top: 50px;
    font-size: 40px;
  }

  .placeContainer,
  .rsvpContainer,
  .storeContainer {
    max-width: 80%;
  }

  .venue h2,
  .ceremory h2 {
    font-size: 30px;
  }

  .venue img,
  .ceremory img,
  .storeItems img {
    width: 250px;
    height: 125px;
  }

  .hexagon1,
  .hexagon2,
  .hexagon3 {
    width: 400px;
    height: 200px;
  }

  .hexagon-in3 {
    background-size: 25em;
    background-position: -2em -3em;
  }

  .hexagon-in3-1 {
    background-position: 4em 1em;
    background-size: 18em;
  }

  .hexagon-in3-2 {
    background-position: -8em -3em;
    background-size: 38em;
  }
}